/*

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400

- Line heights:
Default: 1


--- 02 COLORS

- Primary: #0b1532

- Secondary: #ffe642, #2d54c7

- Tints: 

- Shades:

- Accents:

- Greys:


--- 05 SHADOWS


--- 06 BORDER-RADIUS


--- 07 WHITESPACE

- Spacing system:
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #0b1532;
  font-size: 2rem;
}

nav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
}

.main-nav-link {
  display: inline-block;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main-nav-link:hover,
.main-nav-link:active {
  transform: scale(1.1);
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.rocket-icon {
  max-width: 4rem;
}

.main-nav-link.nav-btn:link,
.nav-btn:visited {
  transition: all 0.3s;
}

.main-nav-link.nav-btn:hover,
.nav-btn:active {
  transform: scale(1.3);
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -1.2px;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 3px solid #ffe642;
}

p {
  line-height: 1.6;
}

.heading-icon {
  width: 3.6rem;
  height: 3.6rem;
  color: #fff;
}

.heading-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  background-color: transparent;
  border: 3px solid #ffe642;
  border-radius: 100px;
  padding: 1.6rem 3.2rem;
  transition: all 0.3s;
  color: #fff;
  width: fit-content;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #ffe642;
  color: #0b1532;
  font-weight: 500;
  transform: scale(1.1);
}

.logo {
  width: 20rem;
}

.hero-section {
  margin-bottom: 30rem;
  height: 100vh;
  background-image: url("/img/hero.svg");
  background-size: cover;
  background-position: center;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translate(-50%, -50%);
  gap: 5rem;
  left: 50%;
  top: 75%;
  max-width: 120rem;
  align-items: center;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 30rem;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 7rem;
  row-gap: 7rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  border: 3px solid #2d54c7;
  border-radius: 20px;
  padding: 5rem;
  transition: all 0.3s;
}

.service-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1rem 1rem 0 #2d54c7;
}

.service-card-header {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.service-icon {
  width: 5rem;
}

.about-section {
  display: flex;
  justify-content: center;
  background-image: url("/img/about-me.svg");
  background-size: cover;
  background-position: center;
  min-height: 120rem;
  margin-bottom: 30rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  max-width: 120rem;
  padding: 30rem 0;
}

.about-wrapper {
  position: relative;
  align-items: center;
  justify-items: center;
  gap: 5rem;
  background-color: rgb(11, 21, 50, 0.4);
  padding: 5rem;
  border-radius: 5rem;
  border: 3px solid #2d54c7;
}

.about-picture {
  position: absolute;
  right: 50%;
  bottom: -26rem;
  transform: translate(50%);
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("/img/me.jpg");
  background-size: cover;
  border: 3px solid #ffe642;
  transition: all 0.3s;
}

.about-picture:hover {
  box-shadow: 0 0 5rem 0 #ffe642;
}

.project-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30rem;
  gap: 7rem;
}

.astronaut {
  height: 15rem;
  position: absolute;
  right: 0;
  top: 0;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.tag {
  background-color: #2d54c7;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
}

.project-card {
  display: flex;
  width: 50rem;
  height: 30rem;
  flex-direction: column;
  padding: 5rem;
  border-radius: 3rem;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  border: 3px solid #2d54c7;
  gap: 1rem;
  transition: all 0.4s;
}

.project-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1rem 1rem 0 #2d54c7;
}

.project-card:nth-child(1) {
  background-image: linear-gradient(rgba(11, 21, 50, 0.75)),
    url("/img/client-img/ten8locker.png");
}

.project-card:nth-child(2) {
  background-image: linear-gradient(rgba(11, 21, 50, 0.75)),
    url("/img/client-img/christshands.png");
}

.project-card:nth-child(3) {
  background-image: linear-gradient(rgba(11, 21, 50, 0.75)),
    url("/img/client-img/terrytownpuppies.png");
}

.project-card:nth-child(4) {
  background-image: linear-gradient(rgba(11, 21, 50, 0.75)),
    url("/img/client-img/cosmicallycreative.png");
}
